.cat-card {
  width: 230px;
  height: 344px;
  color: white;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  .desc {
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    top: 40px;
    left: 15px;
  }
}
