*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    body{
        font-family: "Montserrat", sans-serif;
    }

    .link{
        text-decoration: none;
        color: inherit;
    }
}
