.messages {
  display: flex;
  justify-content: center;

  .container {
    width: 1200px;
    padding: 50px 0;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    table {
      width: 100%;

      th {
        text-align: left;

      }
      tr {
        height: 70px;
        &.active {
          background-color: #1dbf730f;
        }

        td {
          padding: 10px;
          margin: 0;

          &:first-child {
            font-weight: 500;
          }
          &:nth-child(2),
          &:nth-child(3) {
            color: gray;
          }
          button {
            background-color: #1dbf73;
            color: white;
            font-weight: 500;
            border: none;
            padding: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
